@inherits LayoutComponentBase

<NavMenu />
<Toast />
<div class="body-container-style">
    <div class="body-inner-container mainLayout-top-container ">
        <TopMenu />
    </div>
    <div class="body-inner-container mainLayout-bot-container">
        <div class="box">
            @Body
        </div>      
    </div>
</div>

